#root {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;

  display: grid;
  grid-template-rows: auto 1fr;
}

#actionbar {
  position: sticky;
  top: 0;
  padding: 4px 16px;

  display: flex;
  flex-direction: row;
  gap: 0;

  background-color: rgba(0, 0, 0, 0.8);
}
#actionbar > *:not(:first-child) {
  margin-left: -8px;
}

#grapharea {
  align-self: center;
  text-align: center;
}
#grapharea svg {
  margin: 16px;
  background-color: gray;
}
#grapharea svg > g {
  cursor: pointer;
}
#grapharea svg > g > * {
  user-select: none;
}
#grapharea svg > g:hover > *:first-child {
  stroke: #646cff;
  stroke-width: 2px;
}
#grapharea svg > path.path:hover {
  stroke: #646cff;
  stroke-width: 2px;
  outline: 1px dashed black;
}
